---
import Layout from "~/layout.astro";
import Photo from "@/utils/Photo";
import Footer from "@/footer/Footer.astro";
import PhotoHeader from "~/components/index/PhotoHeader.astro";
import Nav from "~/components/nav/Nav.astro";
import Contact from "~/components/footer/Contact";
import { LinkedInProfile, IgProfile } from "~/components/utils/utils";

import { albums } from "~/components/utils/photos";

export function getStaticPaths() {
  return albums.map(album => ({
    params: { album: album.slug },
  }));
}

const { album } = Astro.params;

const a = albums.find(a => a.slug === album);

if (!a) {
  throw new Error("Album not found");
}

const title = `${a.name} Photography - Mateusz Bis | Portfolio`;
const desc = "Feel invited to see my photography works!";
---

<Layout title={title} description={desc}>
  <Nav
    navLinks={[]}
    socialIcons={[
      {
        href: IgProfile,
        src: "/instagram.svg",
        alt: "Instagram Icon",
      },
      {
        href: LinkedInProfile,
        src: "/linkedin.svg",
        alt: "LinkedIn Icon",
      },
    ]}
  />

  <header id="start" class="w-full text-center px-4 pt-16 md:pt-48 max-w-6xl mx-auto">
    <div class="space-y-4" data-aos="fade-up">
      <h1 class="font-primary text-3xl md:text-5xl lg:text-6xl mb-2">{a.name}</h1>
      <a href="/photography#albums" class="underline">Back to albums</a>
    </div>

    <div class="mt-4" data-aos="fade-up" data-aos-delay="400">
      <a href="#contact-+-cv" class="btn inline-block px-8 py-3 text-lg font-medium">Let's collaborate</a>
    </div>
  </header>
</Layout>

<section class="w-11/12 2xl:w-3/4 max-w-[120rem] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto gap-2 mt-16">
  {
    a.sessions.map(session =>
      session.photos.map(photo => (
        <Photo
          className={`w-full h-full  ${photo.height > photo.width ? "row-span-2" : ""}`}
          src={photo.src}
          alt="Photo"
          fullUrl={true}
          sizes={[720, 1280]}
        />
      )),
    )
  }
</section>
<Contact
  client:visible
  cvLinks={[
    { href: "/resume.pdf", label: "Download résumé" },
    { href: LinkedInProfile, label: "LinkedIn profile" },
    { href: IgProfile, label: "Instagram profile" },
  ]}
/>
<Footer />

<style lang="postcss">
   .card-vertical {
    @apply row-span-2;
   }
   .card-horizontal :global(.lazy-photo) {
    @apply aspect-3/2;
   }
</style>
