---
import Layout from "~/layout.astro";
import Photo from "@/utils/Photo";
import Footer from "@/footer/Footer.astro";
import PhotoHeader from "~/components/index/PhotoHeader.astro";
import Nav from "~/components/nav/Nav.astro";
import Contact from "~/components/footer/Contact";
import { LinkedInProfile, IgProfile } from "~/components/utils/utils";
import { albums } from "~/components/utils/photos";
import PhotoAbout from "~/components/index/PhotoAbout.astro";
import H from "~/components/utils/H";

const title = "Photography - Mateusz Bis | Portfolio";
const desc = "Feel invited to see my photography works!";
---

<Layout title={title} description={desc}>
  <Nav
    navLinks={[]}
    socialIcons={[
      {
        href: IgProfile,
        src: "/instagram.svg",
        alt: "Instagram Icon",
      },
      {
        href: LinkedInProfile,
        src: "/linkedin.svg",
        alt: "LinkedIn Icon",
      },
    ]}
  />
  <PhotoHeader />
  <PhotoAbout />

  <H text="Selected Photos" />

  <section
    id="albums"
    class="w-11/12 2xl:w-3/4 max-w-[120rem] scroll-mt-48 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto gap-x-4 gap-y-12 md:gap-y-4 2xl:gap-x-12 2xl:gap-y-18"
  >
    {
      albums.map(album => (
        <a
          href={"/photography/" + album.slug}
          class={`group flex relative flex-col hover:scale-103 transition ${album.vertical ? "card-vertical" : "card-horizontal"}`}
        >
          <h2 class="text-3xl max-md:text-center mt-4 mb-2">{album.name}</h2>
          <Photo
            className="w-full"
            src={album.sessions[0].photos[0].src}
            alt={album.sessions[0].photos[0].src}
            fullUrl={true}
            sizes={[720, 1280]}
          />
          <div class="md:w-full md:h-full md:absolute bottom-0 mt-2 md:pt-14 flex justify-center bg-white/50 items-center group-hover:opacity-100 md:opacity-0 transition">
            <button class="btn">See more</button>
          </div>
        </a>
      ))
    }
  </section>
  <Contact
    client:visible
    cvLinks={[
      { href: "/resume.pdf", label: "Download résumé" },
      { href: LinkedInProfile, label: "LinkedIn profile" },
      { href: IgProfile, label: "Instagram profile" },
    ]}
  />
  <Footer />
</Layout>

<style lang="postcss">
   .card-vertical {
    @apply row-span-2;
   }
   .card-vertical :global(.lazy-photo) {
    @apply aspect-auto h-full;
   }

   .card-horizontal :global(.lazy-photo) {
    @apply aspect-3/2;
   }
</style>
